
body, html {
    width: 100%;
    height: 100%;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    position: relative;
    max-width: 920px;
    margin: 0 auto;
}
img {
    display: block;
    max-width: 100%;
}
section {
    margin: 30px 0;
}
/*------------------------------------*
::LOGO TEXT
*------------------------------------*/
.logo__text {
    position: absolute;
    top: 0;
    left: -9999px;
}
/*------------------------------------*
::END LOGO TEXT
*------------------------------------*/


/*------------------------------------*
::CLEARFIX
*------------------------------------*/
.clearfix-img__box, .clearfix-text {
    float: left;
}
.clearfix-img__box {
    width: 30%;
}
.clearfix-text {
    width: 70%;
}
/*------------------------------------*
::END CLEARFIX
*------------------------------------*/

/*------------------------------------*
::VERTICAL ALIGN
*------------------------------------*/
.vertical-align__box {
    background: red;
    position: relative;
    height: 150px;
}
.vertical-align__inner {
    width: 50px;
}

/*------------------------------------*
::END VERTICAL ALIGN
*------------------------------------*/
